@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar barra de scroll horizontal para tags */
.scroll-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Truncar texto largo en tags */
.tag-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
